@media (max-width: 84em) {
  .hero-container {
    max-width: 120rem;
  }
  .heading-primary {
    font-size: 4.4rem;
  }
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 75em) {
  body {
    font-size: 56.25%;
  }
  .heading-secondary {
    font-size: 3.6rem;
  }
  .tertiary-heading {
    font-size: 2.4rem;
  }
  .grid {
    column-gap: 4.8rem;
    row-gap: 6.4rem;
  }
  .header {
    padding: 0 3.2rem;
  }
  .hero-container {
    gap: 4.8rem;
  }
  .main-nav {
    gap: 3.2rem;
  }
  .testimonial-container {
    padding: 13.2rem 3.2rem;
  }
}

@media (max-width: 65em) {
  .body {
    font-size: 50%;
  }
  .hero-container {
    grid-template-columns: 1fr;
    padding: 0 8rem;
    gap: 6.4rem;
  }
  .hero-img {
    width: 60%;
  }
  .hero-img,
  .hero-text {
    width: 100%;
    text-align: center;
  }
  .btns {
    justify-content: center;
    margin-bottom: 3.2rem;
  }
  .customers {
    align-items: center;
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
  .logos img {
    height: 2.4rem;
  }
  .how-num {
    font-size: 7.4rem;
  }
  .testimonials-section {
    grid-template-columns: 1fr;
  }
  .gallery {
    grid-template-columns: repeat(6, 1fr);
  }
  .cta {
    grid-template-columns: 3fr 2fr;
  }
  .cta-form {
    grid-template-columns: 1fr;
  }
  .complete-plan::after {
    top: 4%;
    right: -30%;
  }
}
@media (max-width: 53.5em) {
  body {
    font-size: 30%;
  }
  .grid--3cols,
  .grid--4cols {
    grid-template-columns: repeat(2, 1fr);
  }
  .diets-box {
    width: 35%;
    grid-column: 1/-1;
    justify-self: center;
  }
  .main-nav-link:visited,
  .main-nav-link:link {
    font-size: 1.4rem;
  }
  .main-nav {
    gap: 1.2rem;
  }
  .grid--5cols {
    grid-template-columns: repeat(3, 1fr);
  }
  .pricing-plan {
    width: 100%;
  }
  .complete-plan::after {
    top: 4%;
    right: -26%;
  }
}

@media (max-width: 45.3em) {
  .how {
    padding: 8.4rem 0 0 0;
  }
  .complete-plan::after {
    font-size: 1.1rem;
    top: 3%;
    right: -28%;
  }
  .logos img {
    height: 1.6rem;
  }
  .pricing-plan {
    padding: 2.6rem;
    width: 100%;
  }
}

@media (max-width: 37.2em) {
  body {
    font-size: 20%;
  }
  .pricing-plan {
    font-size: 0.6rem;
  }
  .header {
    font-size: 0.3rem;
    padding: 0 0.7rem;
  }
  .logo {
    height: 1.2rem;
  }
  .cta-text-box {
    padding: 4.8rem 3.2rem 3.2rem 3.2rem;
  }
  .complete-plan::after {
    font-size: 1rem;
    top: 3%;
    right: -35%;
  }
  .heading-secondary {
    font-size: 2.8rem;
  }
}
@media (max-width: 33.2em) {
  .complete-plan::after {
    font-size: 1rem;
    top: 2%;
    right: -41%;
  }
}
